.formContainer {
  height: 100%;
  /* background-color: blue; */
  position: relative;
}
.LoginSignupDiv{
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.headingContainer {
  display: flex;
}
.loginText {
  text-transform: capitalize;
  margin-bottom: 3px;
  text-align: left;
  font-size: 20px;
  /* font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif; */
}
.loginForm {
  width: 70%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
}
.registerForm {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.for {
  padding-top: 20px;
}
.btn {
  background-color: rgb(59, 114, 216);
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 7px;
}
.forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.cursorPointer{
  cursor: pointer;
}
.loginButton,.registerButton{
  padding: 5%;
  cursor: pointer;
}
.loginButton:hover,.registerButton:hover{
  color: #abacf8;
}
.Detail1{
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 5px 8px 0;
  display: inline-block;
  border-style: none;
  border: 1px solid rgb(171, 172, 248);
  border-radius: 8px;
}