.formContainer {
  height: 100%;
}
.headingContainer {
  display: flex;
}
.loginText,
.registerText {
  width: 50%;
  text-align: left;
  cursor: pointer;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.loginForm {
  width: 70%;
  padding: 5% 0;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}
.registerForm {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.for {
  padding-top: 20px;
}
.btn {
  background-color: rgb(59, 114, 216);
  color: white;
  padding: 12px 20px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 7px;
}
.forgot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-style: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(1, 3, 106);
}
