* {
  margin: 0px;
}
.homeContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  
}
.TopTitle{
  color: white;
  padding:15px 0 15px 8px;
  border-bottom: 1px solid white;
  margin-bottom: 20px;
}
.TopTitle:hover{
  cursor: pointer;
}
.logoName{
  font-size: 1.2rem;
  font-weight: 600;
  text-transform:uppercase;
}
.sideBarConatiner {
  width: 15%;
  background-color: #1363DF;
}
.sideMenuTitle {
  padding: 10px 0 10px 8px;
  color: white;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
}
.sideMenuTitle:hover{
  color: white;
  background-color:rgb(100, 154, 235)
  /* background-color: yellow; */
}
.sideBarName{
  margin-left: 10px;
  text-align: left;
  flex: 1;
}
.mainContentConatiner{
  color: #1363DF;
  padding: 0 1%;
  flex: 1;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
